<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О сайте</title>
    <link rel="stylesheet" href="static/about_site.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/about_site" class="navbar-brand">Hobbys</a>
    
           <div class="navbar-wrap">
            <ul class="navbar-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/autor">Об авторе</a></li>
                <li><a href="/aboute_site">О сайте</a></li>
                <li><a href="/feedback">Связаться со мной</a></li>
            </ul>
           </div>
    
        </div>
    </nav>

    <h1 class="text">Здесь вы найдете информацию о моем сайте.</h1>
    <p class="content">Этот сайт предназначен для того, чтобы человек нашел здесь свое любимое дело, хобби. Здесь перечислены несколько видов разнообразных хобби и увлечений, и каждый человек найдет, чем заняться в жизни. Со временем на сайте будет появляться все больше информации. Вы можете предложить улучшения сайта, если перейдете на страничку связаться со мной. Желаю всем успехов в своих начинаниях!</p>


</body>
</html>