<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Об авторе</title>
    <link rel="stylesheet" href="static/autor.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/about_site" class="navbar-brand">Hobbys</a>
    
           <div class="navbar-wrap">
            <ul class="navbar-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/autor">Об авторе</a></li>
                <li><a href="/about_site">О сайте</a></li>
                <li><a href="/feedback">Связаться со мной</a></li>
            </ul>
           </div>
    
        </div>
    </nav>
    <div class="base">
        <h1 class="h1">Информация об авторе.</h1>
    <div class="content">
        <img class="img" src="static/photo_2024-03-22_00-58-36.jpg" alt="Моя фотка">

        <div class="text">
            <p>Меня зовут Никифоров Макар Андреевич, мне 18 лет. Я учусь в Петрозаводске в 11 школе. В основном мое хобби - игра в хоккей. Но с недавних пор я увлекся программированием и начал делать сайты. Сначала я изучал язык программирования Python, потом увлекся созданием сайтов с помощью фреймфорка Flask. И вот недавно я натолкнулся на конкурс по созданию сайтов и решил себя в нем попробовать. Я выбрал тему сайта хобби, потому что я считаю очень важным найти свое любимое дело в жизни. Хобби дает тебе цель куда-то расти и становиться лучше. Поэтому я желаю всем найти свое хобби и наслаждаться жизнью!</p>
        </div>
    </div>
     </div>
</body>
</html>